version: '3.8'

services:
  postgres-db:
    image: postgres:15-alpine
    container_name: ticketflow_postgres
    environment:
      POSTGRES_DB: ticketflow_db
      POSTGRES_USER: root
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
